<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29341851160-0jc1n1df01pmj1reg7518m1j5b6sn1g8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29341851160-0jc1n1df01pmj1reg7518m1j5b6sn1g8</string>
	<key>API_KEY</key>
	<string>AIzaSyAl5PeqQlw8sFckZ0Fjf1hp-XoVxuqnB0g</string>
	<key>GCM_SENDER_ID</key>
	<string>29341851160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterQrCode</string>
	<key>PROJECT_ID</key>
	<string>qr-code-c46ee</string>
	<key>STORAGE_BUCKET</key>
	<string>qr-code-c46ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29341851160:ios:30e57ba77b1d0259fb2d6d</string>
</dict>
</plist>